/* reset */ 
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
    padding: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* colors */
$base-dark: #030616;
$base-light: #F2F5F9;
$grey-100: #97A3B6;
$grey-200: #4A5567;
$purle-dark: #672171;
$purple-medium: #7429C6;
$purple-light: #C951E7;

/* typography */ 
@mixin txt-large {
    font-family: "Outfit", serif;
    font-size: 2rem;
    font-weight: 500;
}

@mixin txt-medium {
    font-family: "Outfit", serif;
    font-size: 1.25rem;
    font-weight: 500;
}

@mixin txt-small {
    font-family: "Outfit", serif;
    font-size: 0.75rem;
    font-weight: 400;
}

@mixin txt-button {
    font-family: "Outfit", serif;
    font-size: 0.875rem;
    font-weight: 500;
}

/* error toast stiles - generated in script.js */
.error-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ff4444;
    color: white;
    padding: 15px;
    border-radius: 5px;
    animation: 
        slideIn 0.5s,
        fadeOut 0.3s 4.7s;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

body {
    min-height: 100svh;
    display: grid;
    place-items: center;
    background-image: url(../images/bg-guess-the-word.png);
    background-size: cover;
}

.game-container {
    width: 90%;
    max-width: 420px;
    background-color: $base-dark;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-radius: 12px;
}

.word-container {
    width: 100%;
    background-color: $grey-200;
    padding: .5rem 0 .5rem 0;
    border-radius: 4px;

    h1 {
        @include txt-large();
        color: $grey-100;
        width: fit-content;
        margin: 0 auto;
        letter-spacing: 1rem;
    }
}

.tries-container {
    position: relative;
    display: flex;
    align-items: center;

    p {
        @include txt-small();
        color: $grey-200;
        vertical-align: center;
    }

    ol, li {
        display: inline-block;
    }

    ol {
        display: flex;
        align-items: center;
        margin-left: 8px;
    }

    li {
        width: 6px;
        height: 6px;
        background-color: $grey-200;
        border-radius: 50%;
        margin-right: 8px;

        &.filled {
            background-color: $purple-medium;
        }
    }

}

.inputs {
    margin: 2rem 0 2rem 0;

    input {
        width: 42px;
        height: 39px;
        background-color: $base-dark;
        border: 2px solid $grey-200;
        border-radius: 6px;
        margin-right: 4px;
        color: $base-light;
        @include txt-medium();
        text-align: center;
        caret-color: transparent;
        line-height: 39px;

        &:focus {
            outline:none;
            border-color: $purle-dark;
        }
    }
}

.buttons {
    #get-word {
        margin-right: 40px;
    }

    button {
        padding: .5rem 40px .5rem 40px;
        @include txt-button();
        color: $base-light;
        background-color: $purple-light;
        border: none;
        border-radius: 8px;
        box-shadow: 0 4px 0 $purle-dark;

        &:hover {
            cursor: pointer;
        }
    }
}