/* colors */
/* typography */
/* reset */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* animations */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideInY {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes flashAnimation {
  0% {
    border-color: #4A5567;
    background-color: #030616;
  }
  50% {
    border-color: #EB5656;
    background-color: rgba(235, 86, 86, 0.1);
  }
  100% {
    border-color: #4A5567;
    background-color: #030616;
  }
}
/* toasts */
.error-message {
  font-family: "Outfit", serif;
  font-size: 1.25rem;
  font-weight: 500;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #EB5656;
  color: white;
  padding: 15px;
  border-radius: 5px;
  animation: slideIn 0.5s, fadeOut 0.3s 4.7s;
}

.toast-success {
  font-family: "Outfit", serif;
  font-size: 1.25rem;
  font-weight: 500;
  position: absolute;
  z-index: -1;
  top: 98%;
  background-color: #7429C6;
  width: 420px;
  padding: 1rem;
  border-radius: 0 0 8px 8px;
  text-align: center;
  color: #C951E7;
  animation: slideInY 0.5s, fadeOut 0.3s 1.25s;
}

.toast-error {
  font-family: "Outfit", serif;
  font-size: 1.25rem;
  font-weight: 500;
  position: absolute;
  z-index: -1;
  top: 98%;
  background-color: #EB5656;
  width: 420px;
  padding: 1rem;
  border-radius: 0 0 8px 8px;
  text-align: center;
  color: #F2F5F9;
  animation: slideInY 0.5s, fadeOut 0.3s 1.25s;
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/bg-guess-the-word.png);
  background-size: cover;
}

.game-container {
  width: 90%;
  max-width: 420px;
  background-color: #030616;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  border-radius: 12px;
  position: relative;
}

.word-container {
  width: 100%;
  background-color: #4A5567;
  padding: 0.5rem 0 0.5rem 0;
  border-radius: 4px;
}
.word-container h1 {
  font-family: "Outfit", serif;
  font-size: 2rem;
  font-weight: 500;
  color: #97A3B6;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  letter-spacing: 1rem;
}

.score-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.score-container p {
  font-family: "Outfit", serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #4A5567;
  vertical-align: center;
}
.score-container p span {
  font-family: "Outfit", serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: #97A3B6;
}
.score-container .tries-container {
  position: relative;
  display: flex;
  align-items: center;
}
.score-container .tries-container ol, .score-container .tries-container li {
  display: inline-block;
}
.score-container .tries-container ol {
  display: flex;
  align-items: center;
  margin-left: 8px;
}
.score-container .tries-container li {
  width: 6px;
  height: 6px;
  background-color: #4A5567;
  border-radius: 50%;
  margin-right: 8px;
}
.score-container .tries-container li.filled {
  background-color: #7429C6;
}

.inputs {
  margin: 2rem 0 1rem 0;
}
.inputs input {
  width: 42px;
  height: 39px;
  background-color: #030616;
  border: 2px solid #4A5567;
  border-radius: 6px;
  margin-right: 4px;
  color: #F2F5F9;
  font-family: "Outfit", serif;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  caret-color: transparent;
  line-height: 39px;
}
.inputs input:focus {
  outline: none;
  border-color: #672171;
}

/* these animations is displayed when user checks a word that doesn't match the original word */
.shake {
  animation: shake 0.3s ease-in-out;
}

.flash {
  animation: flashAnimation 0.7s;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

button {
  font-family: "Outfit", serif;
  font-size: 0.875rem;
  font-weight: 500;
}
button.primary {
  padding: 0.5rem 24px 0.5rem 24px;
  color: #F2F5F9;
  border-radius: 8px;
  background-color: #C951E7;
  border: none;
  box-shadow: 0 4px 0 #672171;
  display: flex;
  align-items: center;
  gap: 16px;
  transition: background-color 0.2s ease-in-out;
}
button.primary svg {
  fill: #7429C6;
}
button.primary:hover {
  background-color: rgba(201, 81, 231, 0.9);
}
button.primary:active {
  box-shadow: 0 0 0 #672171;
  transform: translateY(4px);
}
button.secondary {
  padding: 0.5rem 24px 0.5rem 24px;
  border: none;
  background-color: transparent;
  color: #C951E7;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 0.2s ease-in-out;
}
button.secondary svg {
  fill: #C951E7;
}
button.secondary svg.animate {
  transition: rotate 0.5s ease-in-out;
  rotate: 360deg;
}
button.secondary:hover {
  background-color: rgba(103, 33, 113, 0.3764705882);
}
button:hover {
  cursor: pointer;
}

.game-over {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(3, 6, 22, 0.7);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 32px;
}
.game-over img,
.game-over h1,
.game-over p,
.game-over button {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.game-over img {
  width: 40%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.game-over h1 {
  font-family: "Outfit", serif;
  font-size: 2rem;
  font-weight: 500;
  color: #C951E7;
}
.game-over p {
  font-family: "Outfit", serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #F2F5F9;
}
.game-over button {
  margin-top: 3rem;
}

@media (max-width: 640px) {
  .game-container {
    padding: 32px 16px 32px 16px;
  }
  .score-container {
    width: 90%;
  }
}
@media (max-width: 370px) {
  .inputs input {
    width: 35px;
    height: 32px;
  }
}/*# sourceMappingURL=style.css.map */